.hugo_build.lock
assets/fonts/FiraSans.woff2
assets/media/_RDMT-top.png
assets/media/_RDMTraining4NFDI.png
assets/media/dfg_logo_blau_foerderung_en.jpg
assets/media/dfg_logo_schriftzug_neg_4c.png
assets/media/favicon-32x32.png
assets/media/icon.png
assets/media/Logo_base4NFDI_kurz_neg_rgb.png
assets/media/Logo_base4NFDI_kurz.png
assets/media/Logo_base4NFDI_lang-1.png
assets/media/logo.png
assets/media/nfdi_rgb_Wortmarke_neg.svg
assets/media/icons/_symbol-rdmt.png
assets/media/icons/.gitkeep
assets/media/icons/orcidid.svg
assets/media/icons/ror.svg
assets/scss/custom.scss
assets/scss/template.scss
config/_default/hugo.yaml
config/_default/languages.yaml
config/_default/menus.yaml
config/_default/module.yaml
config/_default/params.yaml
content/_index.md
content/about/_index.md
content/accessibility/_index.md
content/authors/blindstaedt/_index.md
content/authors/blindstaedt/avatar.jpg
content/authors/blindstaedt/avatar.png
content/authors/hbutz/_index.md
content/authors/hbutz/avatar.jpg
content/authors/jvandendorpe/_index.md
content/authors/jvandendorpe/avatar.jpg
content/authors/jvandendorpe/avatar.png
content/authors/kfoerstner/_index.md
content/authors/kfoerstner/avatar.jpg
content/authors/kfoerstner/avatar.png
content/authors/lschwier/_index.md
content/authors/lschwier/avatar.jpg
content/authors/mbluemm/_index.md
content/authors/mbluemm/avatar.jpg
content/authors/mbluemm/avatar.png
content/authors/muebachs/_index.md
content/authors/muebachs/avatar.jpg
content/authors/muebachs/avatar.png
content/authors/mwohltmann/_index.md
content/authors/mwohltmann/avatar.jpg
content/authors/mwohltmann/avatar.png
content/authors/rmueller/_index.md
content/authors/rmueller/avatar.jpg
content/authors/rmueller/avatar.png
content/authors/sbock/_index.md
content/authors/sbock/avatar.jpg
content/authors/sbock/avatar.png
content/contact/index.md
content/demonstrator/index.md
content/demonstrator/index.md.bak
content/docs/_index.md
content/docs/developer/_index.md
content/docs/developer/hugo.md
content/docs/enduser/_index.md
content/event/_index.md
content/event/2024-base4nfdiuserconference/featured.jpg
content/event/2024-base4nfdiuserconference/index.md
content/imprint/_index.md
content/news/_index.md
content/news/example-post/featured.jpg
content/news/example-post/index.md
content/news/template/featured.jpg
content/news/template/index.md
content/people/index.md
content/privacy/_index.md
content/publication/base4nfdi-proposal-rdmtraining4nfdi-competence-training-for-research-data-manage/cite.bib
content/publication/base4nfdi-proposal-rdmtraining4nfdi-competence-training-for-research-data-manage/index.md
content/publication/cleaning-and-validating-isbn-numbers-with-python/cite.bib
content/publication/cleaning-and-validating-isbn-numbers-with-python/index.md
content/publication/combining-community-concepts-for-reusable-rdm-training-materials/cite.bib
content/publication/combining-community-concepts-for-reusable-rdm-training-materials/index.md
content/publication/developing-a-cross-nfdi-training-service-challenges-findings-and-future-directio/cite.bib
content/publication/developing-a-cross-nfdi-training-service-challenges-findings-and-future-directio/index.md
content/publication/foundations-of-research-data-management-rdm-for-beginners/cite.bib
content/publication/foundations-of-research-data-management-rdm-for-beginners/index.md
content/publication/introduction-into-seaborn-with-the-penguin-dataset/cite.bib
content/publication/introduction-into-seaborn-with-the-penguin-dataset/index.md
content/publication/introduction-to-pandas/cite.bib
content/publication/introduction-to-pandas/index.md
content/publication/lost-in-training-rdmtraining4nfdi-a-base-service-for-modular-certified-training/cite.bib
content/publication/lost-in-training-rdmtraining4nfdi-a-base-service-for-modular-certified-training/index.md
content/publication/motivation-and-didactics/cite.bib
content/publication/motivation-and-didactics/index.md
content/publication/object-oriented-programming-in-python/cite.bib
content/publication/object-oriented-programming-in-python/index.md
content/publication/poster-rdmtraining4nfdi-base4nfdi-service-initialisationphase/cite.bib
content/publication/poster-rdmtraining4nfdi-base4nfdi-service-initialisationphase/index.md
content/publication/practical-data-protection-in-research/cite.bib
content/publication/practical-data-protection-in-research/index.md
content/publication/python-basics/cite.bib
content/publication/python-basics/index.md
content/publication/rdmtraining4nfdi-base4nfdi-roadshow-may-2025/cite.bib
content/publication/rdmtraining4nfdi-base4nfdi-roadshow-may-2025/index.md
content/publication/rdmtraining4nfdi-consolidating-training-of-research-data-management-skills-in-th/cite.bib
content/publication/rdmtraining4nfdi-consolidating-training-of-research-data-management-skills-in-th/index.md
content/publication/rdmtraining4nfdi-hybrid-event-on-rdm/cite.bib
content/publication/rdmtraining4nfdi-hybrid-event-on-rdm/index.md
content/publication/rdmtraining4nfdi-introduction-and-current-status-april-2025/cite.bib
content/publication/rdmtraining4nfdi-introduction-and-current-status-april-2025/index.md
content/publication/rdmtraining4nfdi-lost-in-training/cite.bib
content/publication/rdmtraining4nfdi-lost-in-training/index.md
content/publication/rdmtraining4nfdi-proposal-integration-phase-research-data-management-training-fo/cite.bib
content/publication/rdmtraining4nfdi-proposal-integration-phase-research-data-management-training-fo/index.md
content/publication/report-on-the-community-workshop-for-the-rdmtraining4nfdi-proposal-from-july-2-2/cite.bib
content/publication/report-on-the-community-workshop-for-the-rdmtraining4nfdi-proposal-from-july-2-2/index.md
content/publication/requirements-analysis-report-2025-research-data-management-training-for-nfdi/cite.bib
content/publication/requirements-analysis-report-2025-research-data-management-training-for-nfdi/index.md
content/publication/summer-school-on-research-data-management-for-nfdi-consortia/cite.bib
content/publication/summer-school-on-research-data-management-for-nfdi-consortia/index.md
content/publication/working-with-pandas-merging-apply-and-groupby/cite.bib
content/publication/working-with-pandas-merging-apply-and-groupby/index.md
content/services/_index.md
content/updates/_index.md
layouts/_shortcodes/csv-to-table.html
layouts/partials/head.html
layouts/partials/components/footers/minimal.html
public/404.html
public/index.html
public/index.json
public/index.xml
public/robots.txt
public/sitemap.xml
public/about/index.html
public/about/index.xml
public/accessibility/index.html
public/accessibility/index.xml
public/author/birte-lindstadt/avatar_hu_854c87ab491dc109.jpg
public/author/birte-lindstadt/avatar.jpg
public/author/birte-lindstadt/avatar.png
public/author/birte-lindstadt/index.html
public/author/birte-lindstadt/index.xml
public/author/blumm-mirjam/index.html
public/author/blumm-mirjam/index.xml
public/author/bock-sina/index.html
public/author/bock-sina/index.xml
public/author/boße-sophie/index.html
public/author/boße-sophie/index.xml
public/author/forstner-konrad/index.html
public/author/forstner-konrad/index.xml
public/author/forstner-konrad-u./index.html
public/author/forstner-konrad-u./index.xml
public/author/hbutz/avatar_hu_1023cbd49755972a.jpg
public/author/hbutz/avatar.jpg
public/author/hbutz/index.html
public/author/hbutz/index.xml
public/author/josiah/index.html
public/author/josiah/index.xml
public/author/justine-vandendorpe/avatar_hu_71926dd63c56f662.jpg
public/author/justine-vandendorpe/avatar.jpg
public/author/justine-vandendorpe/avatar.png
public/author/justine-vandendorpe/index.html
public/author/justine-vandendorpe/index.xml
public/author/kfoerstner/avatar_hu_8a23320dacb2898a.jpg
public/author/kfoerstner/avatar.jpg
public/author/kfoerstner/avatar.png
public/author/kfoerstner/index.html
public/author/kfoerstner/index.xml
public/author/lindstadt-birte/index.html
public/author/lindstadt-birte/index.xml
public/author/lindstaedt-birte/index.html
public/author/lindstaedt-birte/index.xml
public/author/lisa-schwier/avatar_hu_57617dc76831dc5b.jpg
public/author/lisa-schwier/avatar.jpg
public/author/lisa-schwier/index.html
public/author/lisa-schwier/index.xml
public/author/marco-uebachs/avatar_hu_d8c332c8a931e35e.jpg
public/author/marco-uebachs/avatar.jpg
public/author/marco-uebachs/avatar.png
public/author/marco-uebachs/index.html
public/author/marco-uebachs/index.xml
public/author/mareike-wohltmann/avatar_hu_363bc2ebfd63475a.jpg
public/author/mareike-wohltmann/avatar.jpg
public/author/mareike-wohltmann/avatar.png
public/author/mareike-wohltmann/index.html
public/author/mareike-wohltmann/index.xml
public/author/muller-rabea/index.html
public/author/muller-rabea/index.xml
public/author/prof.-dr.-mirjam-blumm/avatar_hu_ef251a65ddcb1c3a.jpg
public/author/prof.-dr.-mirjam-blumm/avatar.jpg
public/author/prof.-dr.-mirjam-blumm/avatar.png
public/author/prof.-dr.-mirjam-blumm/index.html
public/author/prof.-dr.-mirjam-blumm/index.xml
public/author/rabea-muller/avatar_hu_16e4a108a3caa469.jpg
public/author/rabea-muller/avatar.jpg
public/author/rabea-muller/avatar.png
public/author/rabea-muller/index.html
public/author/rabea-muller/index.xml
public/author/sauerwein-till/index.html
public/author/sauerwein-till/index.xml
public/author/sina-bock/avatar_hu_40bec32b7ab570a4.jpg
public/author/sina-bock/avatar.jpg
public/author/sina-bock/avatar.png
public/author/sina-bock/index.html
public/author/sina-bock/index.xml
public/author/uebachs-marco/index.html
public/author/uebachs-marco/index.xml
public/author/vandendorpe-justine/index.html
public/author/vandendorpe-justine/index.xml
public/author/vishen-neelam/index.html
public/author/vishen-neelam/index.xml
public/author/wohltmann-mareike/index.html
public/author/wohltmann-mareike/index.xml
public/author/zb-med-information-centre-for-life-sciences/index.html
public/author/zb-med-information-centre-for-life-sciences/index.xml
public/authors/index.html
public/authors/index.xml
public/authors/page/1/index.html
public/authors/page/2/index.html
public/authors/page/3/index.html
public/categories/index.html
public/categories/index.xml
public/categories/page/1/index.html
public/category/meta/index.html
public/category/meta/index.xml
public/category/meta/page/1/index.html
public/category/project-updates/index.html
public/category/project-updates/index.xml
public/category/project-updates/page/1/index.html
public/contact/index.html
public/css/vendor-bundle.min.26c458e6907dc03073573976b7f4044e.css
public/css/vendor-bundle.min.css
public/css/wowchemy.69b08e3b231113071aa9ee30258cf022.css
public/css/wowchemy.css
public/css/libs/chroma/dracula.min.css
public/css/libs/chroma/github-light.min.css
public/demonstrator/index.html
public/demonstrator/index.md.bak
public/docs/index.html
public/docs/index.xml
public/docs/developer/index.html
public/docs/developer/index.xml
public/docs/developer/hugo/index.html
public/docs/enduser/index.html
public/docs/enduser/index.xml
public/en/js/wowchemy.min.69fc52a6dc16aaf1a452cfbb36466dac.js
public/en/js/wowchemy.min.js
public/event/index.html
public/event/index.xml
public/event/2024-base4nfdiuserconference/featured_hu_c0538bbc876bebfa.webp
public/event/2024-base4nfdiuserconference/featured_hu_f68945a5e8606f1c.webp
public/event/2024-base4nfdiuserconference/featured.jpg
public/event/2024-base4nfdiuserconference/index.html
public/fonts/FiraSans.woff2
public/images/dfg_logo_schriftzug_neg_4c.png
public/images/Logo_base4NFDI_kurz_neg_rgb.png
public/images/Logo_NFDI4Memory.svg
public/images/Logo-KonsortSWD-NFDI4society.svg
public/images/LogoBERD.png
public/images/nfdi_rgb_Wortmarke_neg.svg
public/images/nfdi4microbiota.png
public/images/TH_Koeln_Logo.svg
public/images/TH_Köln_Logo.png
public/images/ZBMED17_d_rgb_web_cl.jpg
public/imprint/index.html
public/imprint/index.xml
public/js/mathjax-config.js
public/js/vendor-bundle.min.6782e3f6a4f06ea4766df038c45ecf40.js
public/js/vendor-bundle.min.js
public/js/wowchemy-headroom.b95a7e109243f29d04930ae8cb49a756.js
public/js/wowchemy-headroom.js
public/js/wowchemy-init.min.9e4214442a7711d35691acd58f6f6361.js
public/js/wowchemy-init.min.js
public/js/wowchemy-map.a26e9d2f7238ba5b868384f1c5bc6477.js
public/js/wowchemy-map.js
public/js/wowchemy-publication.9c0e895144aef5a693008b5c5d450147.js
public/js/wowchemy-publication.js
public/media/_RDMTraining4NFDI_hu_ad1dd26d75bc670d.png
public/media/_RDMTraining4NFDI_hu_c0d120166289ce8f.png
public/media/_RDMTraining4NFDI_hu_f36ec288d492bae9.png
public/media/icon_hu_85e64cab2a86ecc3.png
public/media/icon_hu_22068bd7b589433f.png
public/media/logo_hu_b3d62f19e81484ca.png
public/media/logo_hu_dba187d8946c8fa9.png
public/media/logo_hu_eb8fd7354a1c4ee9.png
public/news/index.html
public/news/index.xml
public/news/example-post/featured_hu_629bc34c4629d9fa.webp
public/news/example-post/featured_hu_dd8a455d01059ff0.webp
public/news/example-post/featured_hu_eb0649f0db7d92d7.webp
public/news/example-post/featured.jpg
public/news/example-post/index.html
public/news/page/1/index.html
public/people/index.html
public/privacy/index.html
public/privacy/index.xml
public/publication/index.html
public/publication/index.xml
public/publication/base4nfdi-proposal-rdmtraining4nfdi-competence-training-for-research-data-manage/cite.bib
public/publication/base4nfdi-proposal-rdmtraining4nfdi-competence-training-for-research-data-manage/index.html
public/publication/cleaning-and-validating-isbn-numbers-with-python/cite.bib
public/publication/cleaning-and-validating-isbn-numbers-with-python/index.html
public/publication/combining-community-concepts-for-reusable-rdm-training-materials/cite.bib
public/publication/combining-community-concepts-for-reusable-rdm-training-materials/index.html
public/publication/developing-a-cross-nfdi-training-service-challenges-findings-and-future-directio/cite.bib
public/publication/developing-a-cross-nfdi-training-service-challenges-findings-and-future-directio/index.html
public/publication/foundations-of-research-data-management-rdm-for-beginners/cite.bib
public/publication/foundations-of-research-data-management-rdm-for-beginners/index.html
public/publication/introduction-into-seaborn-with-the-penguin-dataset/cite.bib
public/publication/introduction-into-seaborn-with-the-penguin-dataset/index.html
public/publication/introduction-to-pandas/cite.bib
public/publication/introduction-to-pandas/index.html
public/publication/lost-in-training-rdmtraining4nfdi-a-base-service-for-modular-certified-training/cite.bib
public/publication/lost-in-training-rdmtraining4nfdi-a-base-service-for-modular-certified-training/index.html
public/publication/motivation-and-didactics/cite.bib
public/publication/motivation-and-didactics/index.html
public/publication/object-oriented-programming-in-python/cite.bib
public/publication/object-oriented-programming-in-python/index.html
public/publication/poster-rdmtraining4nfdi-base4nfdi-service-initialisationphase/cite.bib
public/publication/poster-rdmtraining4nfdi-base4nfdi-service-initialisationphase/index.html
public/publication/practical-data-protection-in-research/cite.bib
public/publication/practical-data-protection-in-research/index.html
public/publication/python-basics/cite.bib
public/publication/python-basics/index.html
public/publication/rdmtraining4nfdi-base4nfdi-roadshow-may-2025/cite.bib
public/publication/rdmtraining4nfdi-base4nfdi-roadshow-may-2025/index.html
public/publication/rdmtraining4nfdi-consolidating-training-of-research-data-management-skills-in-th/cite.bib
public/publication/rdmtraining4nfdi-consolidating-training-of-research-data-management-skills-in-th/index.html
public/publication/rdmtraining4nfdi-hybrid-event-on-rdm/cite.bib
public/publication/rdmtraining4nfdi-hybrid-event-on-rdm/index.html
public/publication/rdmtraining4nfdi-introduction-and-current-status-april-2025/cite.bib
public/publication/rdmtraining4nfdi-introduction-and-current-status-april-2025/index.html
public/publication/rdmtraining4nfdi-lost-in-training/cite.bib
public/publication/rdmtraining4nfdi-lost-in-training/index.html
public/publication/rdmtraining4nfdi-proposal-integration-phase-research-data-management-training-fo/cite.bib
public/publication/rdmtraining4nfdi-proposal-integration-phase-research-data-management-training-fo/index.html
public/publication/report-on-the-community-workshop-for-the-rdmtraining4nfdi-proposal-from-july-2-2/cite.bib
public/publication/report-on-the-community-workshop-for-the-rdmtraining4nfdi-proposal-from-july-2-2/index.html
public/publication/requirements-analysis-report-2025-research-data-management-training-for-nfdi/cite.bib
public/publication/requirements-analysis-report-2025-research-data-management-training-for-nfdi/index.html
public/publication/summer-school-on-research-data-management-for-nfdi-consortia/cite.bib
public/publication/summer-school-on-research-data-management-for-nfdi-consortia/index.html
public/publication/working-with-pandas-merging-apply-and-groupby/cite.bib
public/publication/working-with-pandas-merging-apply-and-groupby/index.html
public/publication-type/conference-paper/index.html
public/publication-type/conference-paper/index.xml
public/publication-type/conference-paper/page/1/index.html
public/publication-type/document/index.html
public/publication-type/document/index.xml
public/publication-type/document/page/1/index.html
public/publication-type/poster/index.html
public/publication-type/poster/index.xml
public/publication-type/poster/page/1/index.html
public/publication-type/presentation/index.html
public/publication-type/presentation/index.xml
public/publication-type/presentation/page/1/index.html
public/publication-type/proposal/index.html
public/publication-type/proposal/index.xml
public/publication-type/proposal/page/1/index.html
public/publication-type/report/index.html
public/publication-type/report/index.xml
public/publication-type/report/page/1/index.html
public/publication-type/software/index.html
public/publication-type/software/index.xml
public/publication-type/software/page/1/index.html
public/publication_types/index.html
public/publication_types/index.xml
public/publication_types/page/1/index.html
public/services/index.html
public/services/index.xml
public/tag/base4nfdi/index.html
public/tag/base4nfdi/index.xml
public/tag/base4nfdi/page/1/index.html
public/tag/certification/index.html
public/tag/certification/index.xml
public/tag/certification/page/1/index.html
public/tag/data-protection/index.html
public/tag/data-protection/index.xml
public/tag/data-protection/page/1/index.html
public/tag/data-science/index.html
public/tag/data-science/index.xml
public/tag/data-science/page/1/index.html
public/tag/data-steward/index.html
public/tag/data-steward/index.xml
public/tag/data-steward/page/1/index.html
public/tag/data-stewards/index.html
public/tag/data-stewards/index.xml
public/tag/data-stewards/page/1/index.html
public/tag/didactics/index.html
public/tag/didactics/index.xml
public/tag/didactics/page/1/index.html
public/tag/gdpr/index.html
public/tag/gdpr/index.xml
public/tag/gdpr/page/1/index.html
public/tag/good-practices/index.html
public/tag/good-practices/index.xml
public/tag/good-practices/page/1/index.html
public/tag/jupyter-notebook/index.html
public/tag/jupyter-notebook/index.xml
public/tag/jupyter-notebook/page/1/index.html
public/tag/nfdi/index.html
public/tag/nfdi/index.xml
public/tag/nfdi/page/1/index.html
public/tag/object-oriented-programming/index.html
public/tag/object-oriented-programming/index.xml
public/tag/object-oriented-programming/page/1/index.html
public/tag/oer/index.html
public/tag/oer/index.xml
public/tag/oer/page/1/index.html
public/tag/oop/index.html
public/tag/oop/index.xml
public/tag/oop/page/1/index.html
public/tag/open-data/index.html
public/tag/open-data/index.xml
public/tag/open-data/page/1/index.html
public/tag/pandas/index.html
public/tag/pandas/index.xml
public/tag/pandas/page/1/index.html
public/tag/programming/index.html
public/tag/programming/index.xml
public/tag/programming/page/1/index.html
public/tag/python/index.html
public/tag/python/index.xml
public/tag/python/page/1/index.html
public/tag/python-classes/index.html
public/tag/python-classes/index.xml
public/tag/python-classes/page/1/index.html
public/tag/python-function/index.html
public/tag/python-function/index.xml
public/tag/python-function/page/1/index.html
public/tag/rdm/index.html
public/tag/rdm/index.xml
public/tag/rdm/page/1/index.html
public/tag/rdm-training/index.html
public/tag/rdm-training/index.xml
public/tag/rdm-training/page/1/index.html
public/tag/rdmtraining4nfdi/index.html
public/tag/rdmtraining4nfdi/index.xml
public/tag/rdmtraining4nfdi/page/1/index.html
public/tag/requirement-analysis/index.html
public/tag/requirement-analysis/index.xml
public/tag/requirement-analysis/page/1/index.html
public/tag/research-data/index.html
public/tag/research-data/index.xml
public/tag/research-data/page/1/index.html
public/tag/research-data-management/index.html
public/tag/research-data-management/index.xml
public/tag/research-data-management/page/1/index.html
public/tag/research-data-management/page/2/index.html
public/tag/research-data-management-rdm/index.html
public/tag/research-data-management-rdm/index.xml
public/tag/research-data-management-rdm/page/1/index.html
public/tag/research-data-managment/index.html
public/tag/research-data-managment/index.xml
public/tag/research-data-managment/page/1/index.html
public/tag/seaborn/index.html
public/tag/seaborn/index.xml
public/tag/seaborn/page/1/index.html
public/tag/todo/index.html
public/tag/todo/index.xml
public/tag/todo/page/1/index.html
public/tag/train-the-trainer/index.html
public/tag/train-the-trainer/index.xml
public/tag/train-the-trainer/page/1/index.html
public/tag/training/index.html
public/tag/training/index.xml
public/tag/training/page/1/index.html
public/tag/training-materials/index.html
public/tag/training-materials/index.xml
public/tag/training-materials/page/1/index.html
public/tags/index.html
public/tags/index.xml
public/tags/page/1/index.html
public/tags/page/2/index.html
public/tags/page/3/index.html
public/tags/page/4/index.html
public/updates/index.html
public/updates/index.xml
public/uploads/.gitkeep
public/webfonts/fa-brands-400.ttf
public/webfonts/fa-brands-400.woff2
public/webfonts/fa-regular-400.ttf
public/webfonts/fa-regular-400.woff2
public/webfonts/fa-solid-900.ttf
public/webfonts/fa-solid-900.woff2
public/webfonts/fa-v4compatibility.ttf
public/webfonts/fa-v4compatibility.woff2
resources/_gen/assets/scss/main.scss_35d2871d83849b8ae542dee056bea3ce.content
resources/_gen/assets/scss/main.scss_35d2871d83849b8ae542dee056bea3ce.json
resources/_gen/assets/scss/main.scss_adc28f460db49f036140dccadcf4d022.content
resources/_gen/assets/scss/main.scss_adc28f460db49f036140dccadcf4d022.json
resources/_gen/images/author/birte-lindstadt/avatar_hu_854c87ab491dc109.jpg
resources/_gen/images/author/hbutz/avatar_hu_1023cbd49755972a.jpg
resources/_gen/images/author/justine-vandendorpe/avatar_hu_71926dd63c56f662.jpg
resources/_gen/images/author/kfoerstner/avatar_hu_8a23320dacb2898a.jpg
resources/_gen/images/author/lisa-schwier/avatar_hu_57617dc76831dc5b.jpg
resources/_gen/images/author/marco-uebachs/avatar_hu_d8c332c8a931e35e.jpg
resources/_gen/images/author/mareike-wohltmann/avatar_hu_363bc2ebfd63475a.jpg
resources/_gen/images/author/prof.-dr.-mirjam-blumm/avatar_hu_ef251a65ddcb1c3a.jpg
resources/_gen/images/author/rabea-muller/avatar_hu_16e4a108a3caa469.jpg
resources/_gen/images/author/sina-bock/avatar_hu_40bec32b7ab570a4.jpg
resources/_gen/images/event/2024-base4nfdiuserconference/featured_hu_311e78c579a5ba9f.jpg
resources/_gen/images/event/2024-base4nfdiuserconference/featured_hu_7596a130e2bd9d11.jpg
resources/_gen/images/event/2024-base4nfdiuserconference/featured_hu_c0538bbc876bebfa.webp
resources/_gen/images/event/2024-base4nfdiuserconference/featured_hu_f68945a5e8606f1c.webp
resources/_gen/images/media/_RDMTraining4NFDI_hu_ad1dd26d75bc670d.png
resources/_gen/images/media/_RDMTraining4NFDI_hu_c0d120166289ce8f.png
resources/_gen/images/media/_RDMTraining4NFDI_hu_f36ec288d492bae9.png
resources/_gen/images/media/icon_hu_85e64cab2a86ecc3.png
resources/_gen/images/media/icon_hu_22068bd7b589433f.png
resources/_gen/images/media/logo_hu_b3d62f19e81484ca.png
resources/_gen/images/media/logo_hu_dba187d8946c8fa9.png
resources/_gen/images/media/logo_hu_eb8fd7354a1c4ee9.png
resources/_gen/images/news/example-post/featured_hu_5c1809addb5a0c3d.jpg
resources/_gen/images/news/example-post/featured_hu_57bd1d46edf3670e.jpg
resources/_gen/images/news/example-post/featured_hu_85dcacafb26d5d63.jpg
resources/_gen/images/news/example-post/featured_hu_629bc34c4629d9fa.webp
resources/_gen/images/news/example-post/featured_hu_dd8a455d01059ff0.webp
resources/_gen/images/news/example-post/featured_hu_eb0649f0db7d92d7.webp
static/fonts/FiraSans.woff2
static/images/dfg_logo_schriftzug_neg_4c.png
static/images/Logo_base4NFDI_kurz_neg_rgb.png
static/images/Logo_NFDI4Memory.svg
static/images/Logo-KonsortSWD-NFDI4society.svg
static/images/LogoBERD.png
static/images/nfdi_rgb_Wortmarke_neg.svg
static/images/nfdi4microbiota.png
static/images/TH_Koeln_Logo.svg
static/images/TH_Köln_Logo.png
static/images/ZBMED17_d_rgb_web_cl.jpg
static/uploads/.gitkeep
